/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poor+Story');

body {
  font-family: 'Poor Story', cursive;
  font-size: 20pt;
  background-color: black;
  color: white;
}

html, body { height: 100%; }

input {
  font-family: 'Poor Story', cursive;
  font-size: 20pt;
}
